body{
    background-color: aliceblue;
}
div.container{
    margin: auto;
    width: 90%;
}
header{
    width: 100%;
    height: 100px;
    background-color: #358F80;
}
nav{
    width: 20%;
    height: 800px;
    background: #67B99A;
    float: left;
}
div.content{
    width: 80%;
    height: 800px;
    background: #99E2B4;
    float: right;
}
footer{
    width: 100%;
    height: 50px;
    background: #99E2B4;
}