.menu{
    margin: 0;
    width: 100%;
    position: sticky;
}
nav{
    width: 20%;
    height: 400px;
    background: #99E2B4;
}
ul.horizontal{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow:hidden;
    background-color: #99E2B4;
}
ul.horizontal li{
    float: left;
}
ul.horizontal li a{
    display: block;
    text-decoration: none;
    color: bisque;
    padding: 15px;
    text-align: center;
}
ul.horizontal li a:hover{
    background-color: chocolate;
}
ul.vertical{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: coral;
}
ul.vertical li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px;
    text-align: left;
}
ul.vertical li a:hover{
    background-color: burlywood;
    color: wheat;
}
